<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <style>
        .h-hide {
            display: none;
        }

        .heading {
            height: 5vh;
        }

        .button {
            height: 3vh;
        }

        pre {
            white-space: pre-wrap;
            word-wrap: break-word;
            overflow-y: auto;
            max-height: 75vh;
            padding: 15px;
            border: solid 1px;
        }
    </style>
</head>
<body>
    <h1 class="heading">Testing "Apollo Client"</h1>

    <button id="fetch-btn" class="button">Fetch Data From Apollo</button>

    <div id="results" class="h-hide">
        <h2>Response: </h2>
        <pre id="show-block"></pre>
    </div>

    <script src="app.js"></script>
</body>
</html>
